* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix {
  content: '';
  display: table;
  clear: both;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width:70%;
  min-width: 600px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #23272a;
}
ul li {
  list-style: none;
}
/* 
HEADER 
*/

header { 
  background-color: #3161e0;
  padding: 25px 0;
}

.clearfix > div {
  float: left;
}

.logo {
  width: 20%;
}
.logo img {
  display: inline-block;
}
/* 
MENU  
*/

.menu{
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

nav ul li{
  display: inline-block;
  margin: 0 12px;
  font-size: 14px;
  line-height: 30px;
  list-style: none;
}
nav ul li a{
  color: white;
}

li a:hover{
  color: #23272a;
}

.nav-button {
  text-align: right;  
}

.little.button {
  background-color: white;
  border: none;
  color: #23272a;
  padding: 5px 16px;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}

.little.button:active {
  box-shadow: 0 3px 3px rgba(0, 0, 0, .5);
}

.little.button:hover {
  background-color: lightgray;  
}

/* 
JUMBOTRON
*/ 

.jumbotron {
  background-image: url('./img/jumbo.png');
  background-size: cover;
  height: 450px;
  color: white;
  text-align: center;
}

.jumbo-text {
  padding-top: 80px;
}

.jumbo-text h1 {
  font-size: 40px;
  padding-bottom: 20px;
}

.jumbo-text p {
  width: 680px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 32px;
}

.big.button {
  background-color: white;
  border: none;
  color: #000000;
  font-weight: 500;
  padding: 15px 30px;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 25px 12px;
  cursor: pointer;
}

.big.button.dark{
  background-color: #23272a;
}

.big.button.dark a{
  color: white;
}

.big.button.dark:hover{
  background-color: black; 
}

.big.button:hover{
  background-color: lightgray; 
}
/* MAIN */

/*
SECTION 
*/

section {
  background-color: white;
  padding: 100px 0;
}
.gray {
  background-color: #f6f6f6;
  text-align: center;
  padding-top: 90px;
}

.column.right{
  width: 59%;
  margin-right: 40px; 
}
.column.left {
  width: 33%;
  padding: 36px 38px;

}
.column > h2 {
  font-size: 38px;
  margin-bottom: 20px;
  font-weight: 600;

}
.column > p {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
.describe {
  margin-bottom: 25px;
}
.describe h2 {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 20px;
}

.gray.describe p {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
.image1 img{
  width: 100%;
  margin: 0 auto;
}
.text-photo{
  position: relative;
  margin-bottom: 20px;
}
.text-photo h3{
  position:absolute;
  font-size: 25px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 13%);

}

.big.button.purple {
  background-color: #8ea1e1;
}
.big.button.purple a {
  color: white;
}

.big.button.purple:hover {
  background-color: #6d8aec;
}

/* FOOTER */

footer {
  background-color: #23272a;
}
footer .column {
  float:left;
  width: 15%;
  padding: 40px 10px;
}

.first.column {
  width: 30%;
}

footer .column h3 {
  color: #8ea1e1;
  font-size: 30px;
}

ul li:first-child {
  color: #8ea1e1;
}

footer ul li {
  color: white;
  line-height: 30px;
}
